		<!-- productos.html -->

		<!-- incluir el archivo cabecera.html desde la 	carpeta sitio (OJO es la carpeta actual) -->
		{% include 'sitio/cabecera.html' %}

		<!--Inicio del Container Principal  -->
		<div class="container text-center">
			<img src="../static/imagenes/mirada01.gif" width="180" height="100" alt="Mirada Pícara"/>
			<br/>
			<BR/>
			<img src="../static/imagenes/logo_jardin.gif"  width="300" height="100" alt="Logo del Jardín"/>
			<BR/>
			<br/>
			<img src="../static/imagenes/encabezado_productos.gif"  alt="Logo del Jardín"/>
			<hr/>
			<div class="row">
				<div class="col-md-2 text-center">

				</div>
				<div class="col-md-4 text-center">
					<p class="card-text text-justify">
						El Jardín te ofrecer ofrece una gran
						variedad de plantas ornamentales,
						adaptadas a diversos climas y ambientes.
						<br/>
						<br/>
						También tenemos información acerca
						del cuidado	general y estacional de las mismas.
					</p>
				</div>
				<div class="col-md-4 text-center">
					<b>Productos</b>
					<p class="text-start">
						<UL  class="text-start">
							<LI> Plantas para su hogar.    	</LI>
							<LI> Plantas para su jardín. 	</LI>
							<LI> Plantas para aficionados. 	</LI>
							<LI> Regalos y útiles.       	</LI>
							<li> Abono natural 				</li>
						</UL>
					</p>
				</div>	
				<div class="col-md-2 text-center">

				</div>			
			</div>

			<div  class="row">
				<div class="col-md-2 text-center">

				</div>
				<div class="col-md-4 text-center">
					<img src="../static/imagenes/flor02.gif" 
							class="rounded" 
							width="60%" 
							height="80%" 
							alt="Flor DOS"/>
				</div>	
				<div class="col-md-4 text-center">
					<img src="../static/imagenes/flor07.gif" 
							class="rounded" 
							width="60%" 
							height="80%" 
							alt="Flor Siete"/>
				</div>	
				<div class="col-md-2 text-center">

				</div>										
			</div>

			<img src="../static/imagenes/pie.gif" width="600" height="17" alt="Regla horizontal"/>
			<br/>			
			<br/>

		</div>
		<!--Fin del Container Principal -->


		{% include 'sitio/pie_de_pagina.html' %}
		<!-- incluir el archivo pie_de_pagina.html desde la	carpeta sitio (OJO es la carpeta actual) -->
