		<!-- 02cursos.html -->

		<!-- incluir el archivo cabecera.html desde la 	carpeta sitio (OJO es la carpeta actual) -->
		{% include 'sitio/cabecera.html' %}

		<!--Inicio del Container Principal  -->
		<div class="container text-center">
			<img src="../static/imagenes/logo_jardin.gif"  width="300" height="100" alt="Logo del Jardín"/>
			<br/>
			<br/>
			<img src="../static/imagenes/encabezado_cursos.gif"  alt="Logo del Jardín"/>
			<BR/>
			<br/>
			<hr/>
			<b>
				<em>
				  <font color="#FFFFFF" SIZE = "5">
							<marquee behavior="alternate" bgcolor="#008000">
									<B>&#161; Nunca es demasiado tarde 	para conseguir un hermoso	jardín!</B>
							</marquee>
				  </font>
					 
				</em>
			</b>
			
			<!-- Fila 1 -->
			<div class="row">
				<div class="col-md-2 text-center">

				</div>
				<div class="col-md-4 text-center">
						<FONT face="Comic San MS" SIZE="6" color="#AA000A" >	
							<p align="center "id="titulo-relog">
								<B>¡¡¡Corre el tiempo!!!</B>
							</p> 
						</FONT>
						<br/>
						<!---Inicio del Código del Relog-->
						<div id="clockdate">
							<div class="clockdate-wrapper">
							    <div id="clock"></div>
							    <div id="date"></div>
							</div>
						</div>
						<!--Fin del Código del Relog-->
				</div>
				<div class="col-md-4 text-center">
						<FONT face="Comic San MS" SIZE="6" color="#AA000A">	
							  <B>Marta te espera para procesar tú inscripción</B>
						</FONT>
						<br/>
						<br/>
						<img src="../static/imagenes/secretaria01.jpg" 
									width="330px" height="300px" alt="Secretaria"
									class="rounded"/>
				</div>
				<div class="col-md-2 text-center">

				</div>		
			</div>			


			<!-- Fila 2 -->
			<div class="row">
				<div class="col-md-2 text-center">

				</div>
				<div class="col-md-4 text-center p-4">
					<b>Nuestros cursos son toda una experiencia creativa,</b> 
					donde cada estudiante diseñan su jardín ideal, y nuestros jardineros 
					lo acompañan en cada paso en su construcción.
					<br/>
					<br/>
					Nuestro objetivo es que cada uno de nuestros estudiantes 
					logre planificar, diseñar y construir su propio jardín lleno de vida y color.
					<br/>
					<br/>
					El curso tendrá lugar en un ambiente ideal, rodeado de aíre 
					puro y naturaleza en la finca del <b>Jardín, en Mutiscua.</b>
					<br/>
					<br/>
					Además, para garantizar el éxito del curso la cantidad 
					máxima de estudiantes que recibimos son de 12 personas.
					<br/>
				</div>
				<div class="col-md-4 text-center p-4">
						
						<FONT face="Comic San MS" SIZE="6" color="#AA000A">	
							  <B>&#191; Qué aprendera?</B>
						</FONT> 
						<BR/>
						<OL align="left">
							<LI>&#191; Cuáles son las mejores plantas para la región donde UD vive?.</LI>
							<LI>&#191; Cuándo plantar para tener un espl&eacute;ndido jardín?.</LI>
							<LI>&#191; Cómo proteger el jardín de los calores extremos?.</LI>
							<LI>&#191; Cómo proteger el jardín de los bichos?.</LI>
						</OL>
				</div>
				<div class="col-md-2 text-center">

				</div>		
			</div>			

			<!-- Fila 3 -->
			<div class="row">
				<div class="col-md-2 text-center">

				</div>
				<div class="col-md-4 text-center">
						<img src="../static/imagenes/flor14.gif" 
									 alt="Flor catorce"
									class="rounded"/>
				</div>
				<div class="col-md-4 text-center">
						<br/>
						<br/>
						<img src="../static/imagenes/flor15.gif" 
									width="200px" height="200px"  alt="Flor quince"
									class="rounded"/>
				</div>
				<div class="col-md-2 text-center">

				</div>		
			</div>			



			<br/>
			<br/>
			<img src="../static/imagenes/pie.gif" width="600" height="17" alt="Regla horizontal"/>
			<br/>			
			<br/>
		</div>
		<!--Fin del Container Principal -->


		{% include 'sitio/pie_de_pagina.html' %}
		<!-- incluir el archivo pie.html desde la carpeta sitio (OJO es la carpeta actual) -->
