		<!-- 03galeria.html -->

		<!-- incluir el archivo cabecera.html desde la 	carpeta sitio (OJO es la carpeta actual) -->
		{% include 'sitio/cabecera.html' %}

		<!--Inicio del Container Principal  -->
		<div class="container text-center">
			<img src="../static/imagenes/logo_jardin.gif"  width="300" height="100" alt="Logo del Jardín"/>
			<br/>
			<br/>
			<hr/>
			<b>
				<em>
				  <font color="#FFFFFF" SIZE="8">
							<marquee behavior="alternate" bgcolor="#008000">
									<B> &#161; Un pequeño paseo por nuestro trabajo!</B>
							</marquee>
				  </font> 
				</em>
			</b>

			<div class="row">
				<div class="col-md-3 text-center">
					<img src="../static/imagenes/jardines/jardin01.jpg" 
							class="rounded" width="80%"	height="80%" alt="Jardin 01"/>
				</div>
				<div class="col-md-3 text-center">
					<img src="../static/imagenes/jardines/jardin02.jpg" 
							class="rounded" width="80%"	height="80%" alt="Jardin 02"/>
				</div>
				<div class="col-md-3 text-center">
					<img src="../static/imagenes/jardines/jardin03.jpg" 
							class="rounded" width="80%"	height="80%" alt="Jardin 03"/>
				</div>
				<div class="col-md-3 text-center">
					<img src="../static/imagenes/jardines/jardin04.jpg" 
							class="rounded" width="80%"	height="80%" alt="Jardin 04"/>
				</div>		
			</div>

			<div class="row">
				<div class="col-md-3 text-center">
					<img src="../static/imagenes/jardines/jardin05.jpg" 
							class="rounded" width="80%"	height="80%" alt="Jardin 05"/>
				</div>
				<div class="col-md-3 text-center">
					<img src="../static/imagenes/jardines/jardin06.jpg" 
							class="rounded" width="80%"	height="80%" alt="Jardin 06"/>
				</div>
				<div class="col-md-3 text-center">
					<img src="../static/imagenes/jardines/jardin07.jpg" 
							class="rounded" width="80%"	height="80%" alt="Jardin 07"/>
				</div>
				<div class="col-md-3 text-center">
					<img src="../static/imagenes/jardines/jardin08.jpg" 
							class="rounded" width="80%"	height="80%" alt="Jardin 08"/>
				</div>		
			</div>

			<div class="row">
				<div class="col-md-3 text-center">
					<img src="../static/imagenes/jardines/jardin09.jpg" 
							class="rounded" width="80%"	height="80%" alt="Jardin 09"/>
				</div>
				<div class="col-md-3 text-center">
					<img src="../static/imagenes/jardines/jardin10.jpg" 
							class="rounded" width="80%"	height="80%" alt="Jardin 10"/>
				</div>
				<div class="col-md-3 text-center">
					<img src="../static/imagenes/jardines/jardin11.jpg" 
							class="rounded" width="80%"	height="80%" alt="Jardin 11"/>
				</div>
				<div class="col-md-3 text-center">
					<img src="../static/imagenes/jardines/jardin12.jpg" 
							class="rounded" width="80%"	height="80%" alt="Jardin 12"/>
				</div>		
			</div>	

			<div class="row">
				<div class="col-md-3 text-center">
					<img src="../static/imagenes/jardines/jardin13.jpg" 
							class="rounded" width="80%"	height="80%" alt="Jardin 13"/>
				</div>
				<div class="col-md-3 text-center">
					<img src="../static/imagenes/jardines/jardin14.jpg" 
							class="rounded" width="80%"	height="80%" alt="Jardin 14"/>
				</div>
				<div class="col-md-3 text-center">
					<img src="../static/imagenes/jardines/jardin15.jpg" 
							class="rounded" width="80%"	height="80%" alt="Jardin 15"/>
				</div>
				<div class="col-md-3 text-center">
					<img src="../static/imagenes/jardines/jardin16.jpg" 
							class="rounded" width="80%"	height="80%" alt="Jardin 16"/>
				</div>		
			</div>						

			<hr/>

			<div class="row">
				<div class="col-md-4 text-center">
					<video src="../static/videos/clase01.mp4" 
							class="rounded" width="300" height="250" controls/>
				</div>	
				<div class="col-md-4 text-center">
					<video src="../static/videos/clase01.mp4" 
							class="rounded" width="300" height="250" controls/>
				</div>	
				<div class="col-md-4 text-center">
					<video src="../static/videos/clase03.mp4" 
							class="rounded" width="300" height="250" controls/>
				</div>		
			</div>	

			<div class="row">
				<div class="col-md-4 text-center">
					<video src="../static/videos/thalia01.mp4" 
							class="rounded" width="300" height="250" controls/>
				</div>	
				<div class="col-md-4 text-center">
					<video src="../static/videos/jlo01.mp4" 
							class="rounded" width="300" height="250" controls/>
				</div>	
				<div class="col-md-4 text-center">
					<video src="../static/videos/Shakira01.mp4" 
							class="rounded" width="300" height="250" controls/>
				</div>		
			</div>

			<br/>
			<br/>
			<img src="../static/imagenes/pie.gif" width="600" height="17" alt="Regla horizontal"/>
			<br/>			
			<br/>

		</div>
		<!--Fin del Container Principal -->


		{% include 'sitio/pie_de_pagina.html' %}
		<!-- incluir el archivo pie.html desde la	carpeta sitio (OJO es la carpeta actual) -->
