<!-- Cabecera.html -->
<!DOCTYPE html>
<html lang="es">
     <head>
     	<meta charset="utf-8"/>
		<title>Proyecto Jardín</title>
		<meta name="description" content="Proyecto Python - BootStarp - PostgreSQL"/>
		<meta name="author" content="Sergio Capacho" />
		<meta name="keywords" content="Html, bootstrap, Python, PostGreSQL" />

		<LINK REL="SHORTCUT ICON" type="image/x-icon" HREF="../static/imagenes/flor01.ico" />

		<link rel="stylesheet" type="text/css" href="../static/css/mis_estilos.css"/>

		<!-- Enlace al CSS BootStrapSwatch / Flatly Flat and modern-->
		<link rel="stylesheet"  href="../static/css/bootstrap.min.css"  crossorigin="anonymous"/>

     </head>

     <!-- Inicio del Body -->
     <body    onload="startTime()"> 
		<nav class="navbar navbar-expand navbar-dark bg-primary">
			<div class="nav navbar-nav">
				<a class="nav-item nav-link active" href="/"> 
					Inicio
				</a>
				<a class="nav-item nav-link" href="/productos">
					Productos
				</a>
				<a class="nav-item nav-link" href="/cursos">
					Cursos
				</a>
				<a class="nav-item nav-link" href="/galeria">
					Galeria
				</a>				
				<a class="nav-item nav-link" href="/login">
					Administración
				</a>				
			</div>
		</nav>


