<!-- Inicio Bloque Cabecera.html -->
<!DOCTYPE html>
<html lang="es">
     <head>
     	<meta charset="utf-8"/>
		<title>Proyecto Jardín</title>
		<meta name="description" content="Proyecto Python - BootStarp - PostgreSQL"/>
		<meta name="author" content="Sergio Capacho" />
		<meta name="keywords" content="Html, bootstrap, Python, PostGreSQL" />


     </head>
     <body> 


<!-- Fin Bloque Cabecera.html -->
<!------------------------------------------------------->


		<!-- Inicio Bloque Index.html -->
		<!------------------------------------------------------->


		<!-- incluir el archivo cabecera.html desde la
			 				carpeta sitio (OJO es la carpeta actual) -->
		{% include 'sitio/cabecera.html' %}

		<!--Inicio del Container Principal  -->
		<div>

			<h1>Hola Mundo</h1>

		</div>
		<!--Fin del Container Principal -->


		{% include 'sitio/pie_de_pagina.html' %}
		<!-- incluir el archivo pie.html desde la
			 					carpeta sitio (OJO es la carpeta actual) -->

		<!-- Fin bloque Index.html -->
		<!------------------------------------------------------->




		<!-- Inicio Bloque Pie_de_pagina.html -->
		<!------------------------------------------------------->


		<footer>
			<h5 align="center">	
				Copyright © 2024 Systemcap.Net 
				<br/>
				Todos los derechos reservados
			</h5>
		</footer>
     </body>
</html>

<!-- Fin Bloque Pie_de_pagina.html -->
<!------------------------------------------------------->