		<!-- Index.html -->

		<!-- incluir el archivo cabecera.html desde la	carpeta sitio (OJO es la carpeta actual) -->
		{% include 'sitio/cabecera.html' %}

		<!--Inicio del Container Principal  -->
		<div class="container text-center">

			<br/>
			<br/>
			<img src="../static/imagenes/gato01.gif"  alt="Gato animado"/>
			<br/>
			<BR/>
			<img src="../static/imagenes/logo_jardin.gif"  width="300" height="100" alt="Logo del Jardín"/>
			<hr/>
			Somos la mejor empresa de jardinería 
			de todo el Norte de Santander.
			<br/>
			<br/>
			Te ofrecemos productos de gran calidad,
			para todos los gustos, tamaños y bolsillos.
			<br/> 
			<br/>
			Visitanos en nuestra sede de Villa del Rosario - Norte de Santander, 
			<br/>
			justo la lado de una Universidad de pamplona. 
			<br/>
			<br/>
			Cuando nos visites .... sientase libre de verlo todo.
			<br/>
			<br/> 
			Si necesita ayuda, no dude en preguntar.<br/>
			Le atenderemos con el mayor placer.
			<BR/>
			<br/>
			<B>Además, Si nos visitas el día de tú cumpleaños tenemos 
			un obsequio especial para tí </B>
			<br/>
			<br/>
			<img src="../static/imagenes/pie.gif" width="600" height="17" alt="Regla horizontal"/>
			<br/>			
			<br/>

		</div>
		<!--Fin del Container Principal -->


		{% include 'sitio/pie_de_pagina.html' %}
		<!-- incluir el archivo pie.html desde la carpeta sitio (OJO es la carpeta actual) -->
