		<!-- tmcargos01_submenu.hmtl: Programa para construir el Sub Menú de TMCargos.  -->

		<!--Inicio del Container Principal  -->
		<div class="container text-center">
			<div class="card border-warning mb-0" >
			  	<h4 class="card-title mt-3">Tabla TDREPORTES</h4>
			  	<div class="card-body">
			  		<a href="/reportes/agregar"  class="btn btn-outline-primary" title="Registrar un nuevo cargo">
			  			Agregar retardo
			  		</a> 
			  		&nbsp; &nbsp; &nbsp;
			  		<a href="/reportes/consultar"  class="btn btn-outline-primary" title="Consultar un registro">
			  			 Retardos de empleado
			  		</a> 
			  		&nbsp; &nbsp; &nbsp;
			  		<a href="/reportes/reporte_fecha"  class="btn btn-outline-primary" title="Listado de todos los cargos">
			  			Retardos por fecha
			  		</a> 
				</div>
			</div>

		</div>
		<!--Fin del Container Principal -->

