<!-- p01_login01_cabecera.html: Programa Paso # 1 del login. 
			Este programa tiene el código del bloque de la cabecera del login  -->
<!DOCTYPE html>
<html lang="es">
     <head>
     	<meta charset="utf-8"/>
		<title>Módulo Administrativo - El Jardín</title>
		<meta name="description" content="Proyecto Python - BootStarp - PostgreSQL"/>
		<meta name="author" content="Sergio Capacho" />
		<meta name="keywords" content="Html, bootstrap, Python, PostGreSQL" />

		<LINK REL="SHORTCUT ICON" type="image/x-icon" HREF="../static/imagenes/flor01.ico" />

		<link rel="stylesheet" type="text/css" href="../static/css/mis_estilos.css"/>

		<!-- Enlace al CSS BootStrapSwatch / Flatly Flat and modern-->
		<link rel="stylesheet"  href="../static/css/bootstrap.min.css"  crossorigin="anonymous"/>

     </head>

     <!-- Inicio del Body -->
     <body    onload="startTime()"> 
		<nav class="navbar navbar-expand navbar-dark bg-primary">
				<div class="nav navbar-nav">
					<a class="nav-item nav-link active" href="#">Administración</a>

					<a class="nav-item nav-link" href="/login/cerrar">Cerrar</a>
					
				</div>
		</nav>


