		<!-- tmcargos01_submenu.hmtl: Programa para construir el Sub Menú de TMCargos.  -->

		<!--Inicio del Container Principal  -->
		<div class="container text-center">
			<div class="card border-warning mb-0" >
			  	<h4 class="card-title mt-3">Tabla Maestro Cargos</h4>
			  	<div class="card-body">
			  		<a href="/tmcargos/agregar"  class="btn btn-outline-primary" title="Registrar un nuevo cargo">
			  			Agregar 
			  		</a> 
			  		&nbsp; &nbsp; &nbsp;
			  		<a href="/tmcargos/consultar"  class="btn btn-outline-primary" title="Consultar un registro">
			  			Consultar / Modificar
			  		</a> 
			  		&nbsp; &nbsp; &nbsp;
			  		<a href="/tmcargos/reporte"  class="btn btn-outline-primary" title="Listado de todos los cargos">
			  			Reporte
			  		</a> 
				</div>
			</div>

		</div>
		<!--Fin del Container Principal -->

